# ======================================
# OS FILES (Mac / Windows junk)
# ======================================
.DS_Store
Thumbs.db
Desktop.ini


# ======================================
# SOLUTIONS
# ======================================
teacher/

# ======================================
# PYTHON
# ======================================
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# ======================================
# DATABASES & LARGE DATA
# (Students often accidentally commit these)
# ======================================
*.sqlite
*.db

# ======================================
# NODE / WEB PROJECTS
# ======================================
node_modules/

# Build folders (safe to ignore)
dist/
build/

# ======================================
# ENV / SECRETS
# ======================================
.env
.env.*

# ======================================
# EDITOR FILES
# ======================================
.vscode/

# ======================================
# LOGS / TEMP FILES
# ======================================
*.log
*.tmp
